{{> head }}

{{> navbar }}

    <h1>Hola, {{nombre}}</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, magnam fugit. Nihil maiores facilis iure, nemo et nobis debitis similique, necessitatibus placeat recusandae ipsam odio dignissimos voluptatum saepe eius? Officia.
    </p>



 {{> footer}}